# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.env

# Node
node_modules/
frontend/dist/

# ML Models
backend/ml/model/*.pkl

# Data
data/raw/*.csv
data/raw/*.json
data/raw_scraped.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
